/* NAV BAR style start========================== */

nav {
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

/* NAV BAR style end========================== */

/* =============profile page style start================ */

.avatar-ctn {
    background-color: orange;
    text-align: center;
}

.avatar {
    width: 65%;
}

/* =============profile page style end================ */

/* ==============home page============== */

.jumbotron{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: #563d7c solid 2px;
   
}
.jumbotron h1{
    display:flex;
    justify-content: center;
}

.register, .lead-register{
    display:flex;
    justify-content: right;
}

body{
    font-family: playfair display;
}
/* ==========end homepage========== */

/* ==========login page========== */
.card-header{
    background-color: #563d7c;
    color: #fff;
}
.card-body{
    border: #563d7c solid 2px;
    display: flex;
    justify-content: center;
}
.lead-login{
    text-align: center;
text-decoration: wavy;
}
.lead{
    text-align: center;
}
.register{
    text-align: center;
}
.lead-register{
    text-align: center;
}

.lead{
    text-align: center;
}
.lead-login{
    text-align: center;
}
.register{
    text-align: center;
}
.lead-register{
    text-align: center;
}